# IDE配置文件
.vscode/
*.vscode

# 操作系统文件
Thumbs.db
ehthumbs.db
Icon?
*.lock

# 压缩包文件
*.zip

# 文档文件
*.docx
*.pptx
*.pdf

# 视频文件
*.mp4

# 数据库文件（如果您不希望将SQL文件纳入版本控制）
*.sql

# 编译输出目录
target/
*/target/

# 日志文件
*.log

# 临时文件
*.tmp
*.temp

# Maven相关
.mvn/wrapper/maven-wrapper.jar

# Spring Boot相关
*.jar